services:

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - mynet

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      MYSQL_HOST: db
      DB_PORT: 3306
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      FRONTEND_URL: ${FRONTEND_URL}
      MYSQL_DEFAULT_TABLE: ${MYSQL_DEFAULT_TABLE}
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - mynet
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:8080
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - mynet
    depends_on:
      - backend

networks:
  mynet:

volumes:
  db-data:
