.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.search-container {
  padding: 24px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
