.main-container {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.header-container {
  position: relative;
  margin-bottom: 24px;
}

.header-title {
  text-align: center;
}

.back-button {
  position: absolute;
  left: 0px;
  top: 0px;
}

.edit-form {
  display: grid;
  gap: 16px;
}

.buttons-group {
  gap: 16px;
}
